{% load static %}
  <header class="page-head">
    <div class="rd-navbar-wrap">
      <nav data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-stick-up-clone="false" data-md-stick-up-offset="53px" data-lg-stick-up-offset="53px" data-md-stick-up="true" data-lg-stick-up="true" class="rd-navbar rd-navbar-corporate-dark">
        <div class="rd-navbar-inner">
          <div class="rd-navbar-aside">
            <div data-custom-toggle=".rd-navbar-aside" data-custom-toggle-disable-on-blur="true" class="rd-navbar-aside-toggle"><span></span></div>
            <div class="rd-navbar-aside-content context-dark">
              <ul class="rd-navbar-aside-group list-units">
                <li>
                  <div class="unit unit-horizontal unit-spacing-xs">
                    <div class="unit-left"><span class="icon icon-xxs-small icon-primary material-icons-place icon-shift-1 offset-top-2"></span></div>
                    <div class="unit-body"><a href="#" class="link-white-v2 reveal-inline">2381 Rosecrans Ave,  CA 90245. USA</a></div>
                  </div>
                </li>
                <li>
                  <div class="unit unit-horizontal unit-spacing-xs">
                    <div class="unit-left"><span class="icon icon-xxs icon-primary fa-clock-o offset-top-2"></span></div>
                    <div class="unit-body">
                      <p class="text-white">Mon – Sat: 9:00am–18:00pm. Sunday CLOSED</p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="unit unit-horizontal unit-spacing-xs">
                    <div class="unit-left"><span class="icon icon-xxs icon-primary material-icons-phone icon-shift-2"></span></div>
                    <div class="unit-body"><a href="callto:#" class="link-white-v2">+2348101118476</a></div>
                  </div>
                </li>
              </ul>
              <div class="rd-navbar-aside-group">
                <ul class="list-inline list-inline-reset">
                  <li><a href="#" class="icon icon-round icon-abbey-filled icon-xxs-smallest fa fa-facebook"></a></li>
                  <li><a href="#" class="icon icon-round icon-abbey-filled icon-xxs-smallest fa fa-twitter"></a></li>
                  <li><a href="#" class="icon icon-round icon-abbey-filled icon-xxs-smallest fa fa-google-plus"></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="rd-navbar-group rd-navbar-search-wrap">
            <div class="rd-navbar-panel">
              <button data-custom-toggle=".rd-navbar-nav-wrap" data-custom-toggle-disable-on-blur="true" class="rd-navbar-toggle"><span></span></button>
              <a href="index.html" class="rd-navbar-brand brand"><img src="{% static 'images/logo.jpeg' %}" alt="logo" width=100 height="34"/></a> </div>
            <div class="rd-navbar-nav-wrap">
              <div class="rd-navbar-nav-inner">
                <div class="rd-navbar-search">
                  <form action="search-results.html" method="GET" data-search-live="rd-search-results-live" class="rd-search">
                    <div class="form-group">
                      <label for="rd-search-form-input" class="form-label">Search...</label>
                      <input id="rd-search-form-input" type="text" name="s" autocomplete="off" class="form-control">
                      <div id="rd-search-results-live" class="rd-search-results-live"></div>
                    </div>
                    <button type="submit" class="rd-search-submit"></button>
                  </form>
                  <!-- <button data-rd-navbar-toggle=".rd-navbar-search, .rd-navbar-search-wrap" class="rd-navbar-search-toggle"></button> -->
                </div>
                <ul class="rd-navbar-nav">
                  <li class="active"><a href="{% url 'home' %}">Home</a> </li>
                  <li><a href="{% url 'about'%}">About Us</a> </li>
                  <li><a href="{% url 'services'%}">Services</a> </li>
                  <li><a href="#">Blog</a>
                  </li>
                  <li><a href="{% url 'contact' %}">Contacts</a> </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>