{% extends 'base.html'%}
{% block title %}
About
{% endblock %}
{% block content %}
{% include "./include/navbar.html" %}
    
<main class="page-content">
    <section style="background-image: url(static/images/slider3.jpg);" class="section-30 section-sm-40 section-md-66 section-lg-bottom-90 bg-gray-dark page-title-wrap">
      <div class="shell">
        <div class="page-title">
          <h2>About Us</h2>
        </div>
      </div>
    </section>
    <section style="background-image: url( 'static/images/slider3.jpg' );" class="section-60 section-sm-90 section-sm-bottom-100 bg-white bg-image bg-image-1">
      <div class="shell">
        <div class="range range-sm-center range-md-right">
          <div class="cell-sm-8 cell-md-6 cell-lg-5">
            <h3>Why <span class="text-thin">Choose Us</span> </h3>
            <div class="offset-top-22">
              <p class="text-gray-base-05">
                Enenu wears have been consigning men, women and kids' wears here in Nigeria since 2017. 
                We believe in bringing you the luxury of having high quality and fashionable wears at a fair price. 
                We make shopping easy as an online store and thrill you with our fast, 
                yet affordable delivery services. We want to merge the gap between luxury and excessive spending 
                by selling our wears at a fair price. 
                We look forward to becoming your number one fashion mirror. 
                We invite you to shop with us today
            </p>
              <!-- <a href="our-team.html" class="btn btn-primary">Read more</a> </div> -->
          </div>
          <div class="cell-md-1"></div>
        </div>
      </div>
    </section>
    <section class="bg-cape-cod context-dark">
      <div class="shell">
        <div class="range range-xs-center range-md-left">
          <div class="cell-xs-10 cell-md-5 text-left section-60 section-sm-90">
            <div>
              <h3>our <span class="text-thin">advantages</span> </h3>
              <div class="offset-top-40 inset-left-15">
                <div class="unit unit-xs unit-xs-horizontal">
                  <div class="unit-left"><span class="icon icon-primary icon-lg-bigger thin-icon-briefcase-2 offset-top-5"></span></div>
                  <div class="unit-body">
                    <h4 class="text-white">Confidentiality</h4>
                    <p class="text-white-05">We guarantee the confidentiality of our client data through strict control over our infrastructure, as well as our physical and personal access rights.</p>
                  </div>
                </div>
                <div class="unit unit-xs unit-xs-horizontal offset-top-35">
                  <div class="unit-left"><span class="icon icon-primary icon-lg-bigger thin-icon-support offset-top-5"></span></div>
                  <div class="unit-body">
                    <h4 class="text-white">Comprehensive support</h4>
                    <p class="text-white-05">As an experienced outsourcing provider, we offer legal services, audit and internal control, financial administration, and other business support.</p>
                  </div>
                </div>
                <div class="unit unit-xs unit-xs-horizontal offset-top-35">
                  <div class="unit-left"><span class="icon icon-primary icon-lg-bigger thin-icon-time offset-top-5"></span></div>
                  <div class="unit-body">
                    <h4 class="text-white">Quality</h4>
                    <p class="text-white-05">We are dedicated to providing high quality financial administration services based on extensive experience and knowledge.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="cell-md-1 veil reveal-md-inline-block"></div>
          <div class="cell-md-6 section-image-aside section-image-aside-right">
            <div style="background-image: url(/static/images/WhatsApp_Image_2020-02-04_at_15.jpg)" class="section-image-aside-img veil reveal-md-block"></div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-66 section-sm-90 section-lg-bottom-120">
      <div class="shell">
        <div class="range">
          <div class="cell-xs-12">
            <h3>Who <span class="text-thin">we are</span> </h3>
          </div>
        </div>
        <div class="range range-lg-justify offset-top-40">
          <div class="cell-sm-6 cell-lg-5 text-secondary">
            <div class="inset-sm-right-15 inset-lg-right-0">
              <p class="text-gray-darker">
                Enenu wears have been consigning men, women and kids' wears here in Nigeria since 2019. 
                We believe in bringing you the luxury of having high quality and fashionable wears at a fair price. 
                We make shopping easy as an online store and thrill you with our fast, yet affordable delivery services. 
              <p class="text-gray-darker"> 

                We want to merge the gap between luxury and excessive spending by selling our wears at a fair price.
                 We look forward to becoming your number one fashion mirror. We invite you to shop with us today              </p>
               </p>
               <p class="text-grey-darker">
                We sell shoes, bags,  jeans, dresses, blazers,  suits, fabrics, all fashion accessories,   perfumes, hair, sports clothing and many more.
               </p> 
            </div>
          </div>
          <div class="cell-sm-6 offset-top-40 offset-sm-top-0">
            <div class="shift-sm-top-1">
              <ul class="list-progress">
                <li>
                  <p class="animated fadeIn text-gray-darker h7">Photography</p>
                  <div data-value="100" data-stroke="4" data-easing="linear" data-counter="true" data-duration="1000" data-trail="100" class="progress-bar-js text-bold progress-bar-horizontal progress-bar-primary"></div>
                </li>
                <li>
                  <p class="animated fadeIn text-gray-darker h7"> Consignment and General Contracts on Men</p>
                  <div data-value="95" data-stroke="4" data-easing="linear" data-counter="true" data-duration="1000" data-trail="100" class="progress-bar-js text-bold progress-bar-horizontal progress-bar-old-gold"></div>
                </li>
                <li>
                  <p class="animated fadeIn text-gray-darker h7">Women and Kids Wears</p>
                  <div data-value="90" data-stroke="4" data-easing="linear" data-counter="true" data-duration="1000" data-trail="100" class="progress-bar-js text-bold progress-bar-horizontal progress-bar-bermuda-gray"></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section data-on="false" data-md-on="true" style="background-image: url(/static/images/woman-wearing-gray-notch-lapel-suit-jacket-2381069.jpg);" class="rd-parallax bg-gray-base bg-image">
      <div data-speed="0.33" data-type="media" data-url="images/photography-of-a-guy-wearing-green-shirt-1222271.jpg" class="rd-parallax-layer"></div>
      <div data-speed="0" data-type="html" class="rd-parallax-layer">
        <div class="section-50 section-sm-75 section-lg-top-100 section-lg-bottom-120">
          <div class="shell text-center">
            <div class="range">
              <div class="cell-xs-12">
                <h3>What <span class="text-thin"><b>Clients Say?</b></span> </h3>
              </div>
            </div>
            <div class="range range-xs-center range-sm-left offset-top-40">
              <div class="cell-sm-4">
                <blockquote class="quote-vertical quote-vertical-inverse">
                  <div class="quote-body">
                    <div class="quote-open">
                      <svg version="1.1" baseprofile="tiny" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="12px" viewbox="0 0 21 15" overflow="scroll" xml:space="preserve" preserveAspectRatio="none">
                        <path d="M9.597,10.412c0,1.306-0.473,2.399-1.418,3.277c-0.944,0.876-2.06,1.316-3.349,1.316                  c-1.287,0-2.414-0.44-3.382-1.316C0.482,12.811,0,11.758,0,10.535c0-1.226,0.58-2.716,1.739-4.473L5.603,0H9.34L6.956,6.37                  C8.716,7.145,9.597,8.493,9.597,10.412z M20.987,10.412c0,1.306-0.473,2.399-1.418,3.277c-0.944,0.876-2.06,1.316-3.35,1.316                  c-1.288,0-2.415-0.44-3.381-1.316c-0.966-0.879-1.45-1.931-1.45-3.154c0-1.226,0.582-2.716,1.74-4.473L16.994,0h3.734l-2.382,6.37                  C20.106,7.145,20.987,8.493,20.987,10.412z"></path>
                      </svg>
                    </div>
                    <p class="quote-text"> <q>
                      <b>Beyond a shadow of doubt, they are the Best Tax Consultants I have ever come across.</b></q> </p>
                  </div>
                  <div class="quote-meta">
                    <figure class="quote-image"><img src="images/113x113.jpg" alt="" width="113" height="113"/> </figure>
                    <cite>Axel Merphy</cite>
                    <p class="caption">Client</p>
                  </div>
                </blockquote>
              </div>
              <div class="cell-sm-4 offset-top-60 offset-sm-top-0">
                <blockquote class="quote-vertical quote-vertical-inverse">
                  <div class="quote-body">
                    <div class="quote-open">
                      <svg version="1.1" baseprofile="tiny" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="12px" viewbox="0 0 21 15" overflow="scroll" xml:space="preserve" preserveAspectRatio="none">
                        <path d="M9.597,10.412c0,1.306-0.473,2.399-1.418,3.277c-0.944,0.876-2.06,1.316-3.349,1.316                  c-1.287,0-2.414-0.44-3.382-1.316C0.482,12.811,0,11.758,0,10.535c0-1.226,0.58-2.716,1.739-4.473L5.603,0H9.34L6.956,6.37                  C8.716,7.145,9.597,8.493,9.597,10.412z M20.987,10.412c0,1.306-0.473,2.399-1.418,3.277c-0.944,0.876-2.06,1.316-3.35,1.316                  c-1.288,0-2.415-0.44-3.381-1.316c-0.966-0.879-1.45-1.931-1.45-3.154c0-1.226,0.582-2.716,1.74-4.473L16.994,0h3.734l-2.382,6.37                  C20.106,7.145,20.987,8.493,20.987,10.412z"></path>
                      </svg>
                    </div>
                    <p class="quote-text"> <q>
                      <b>I would not hesitate even one bit to work with them for my future tax and accounting needs.</b></q> </p>
                  </div>
                  <div class="quote-meta">
                    <figure class="quote-image"><img src="images/113x113.jpg" alt="" width="113" height="113"/> </figure>
                    <cite>Amelia Lee</cite>
                    <p class="caption">Client</p>
                  </div>
                </blockquote>
              </div>
              <div class="cell-sm-4 offset-top-60 offset-sm-top-0">
                <blockquote class="quote-vertical quote-vertical-inverse">
                  <div class="quote-body">
                    <div class="quote-open">
                      <svg version="1.1" baseprofile="tiny" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="12px" viewbox="0 0 21 15" overflow="scroll" xml:space="preserve" preserveAspectRatio="none">
                        <path d="M9.597,10.412c0,1.306-0.473,2.399-1.418,3.277c-0.944,0.876-2.06,1.316-3.349,1.316                  c-1.287,0-2.414-0.44-3.382-1.316C0.482,12.811,0,11.758,0,10.535c0-1.226,0.58-2.716,1.739-4.473L5.603,0H9.34L6.956,6.37                  C8.716,7.145,9.597,8.493,9.597,10.412z M20.987,10.412c0,1.306-0.473,2.399-1.418,3.277c-0.944,0.876-2.06,1.316-3.35,1.316                  c-1.288,0-2.415-0.44-3.381-1.316c-0.966-0.879-1.45-1.931-1.45-3.154c0-1.226,0.582-2.716,1.74-4.473L16.994,0h3.734l-2.382,6.37                  C20.106,7.145,20.987,8.493,20.987,10.412z"></path>
                      </svg>
                    </div>
                    <p class="quote-text"> <q>
                      <b>The Tax Experts at TaxExpert are thorough professionals and always go that extra mile to help their clients.</b></q> </p>
                  </div>
                  <div class="quote-meta">
                    <figure class="quote-image"><img src="images/113x113.jpg" alt="" width="113" height="113"/> </figure>
                    <cite>Jack McGee</cite>
                    <p class="caption">Client</p>
                  </div>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock %}