{% extends 'base.html' %}
{% load static %}
{% block content %}
      {% include "./include/navbar.html" %}
    
    <main class="page-content">
      <section>
        <div data-loop="false" data-autoplay="false" data-simulate-touch="true" class="swiper-container swiper-slider swiper-variant-1 bg-gray-base">
          <div class="swiper-wrapper text-center">
            <div data-slide-bg="{% static 'images/slider4.jpg' %}" class="swiper-slide">
              <div class="swiper-slide-caption">
                <div class="shell">
                  <div class="range range-xs-center">
                    <div class="cell-sm-11 cell-md-10">
                      <div data-caption-animate="fadeInUp" data-caption-delay="0s" class="text-white text-uppercase jumbotron-custom border-modern">Enenu Wears </div>
                      <div data-caption-animate="fadeInUp" data-caption-delay="450s" class="offset-sm-top-5">
                        <p class="text-big-22  veil reveal-sm-inline-block">
                          We believe in bringing you the luxury of having high quality and fashionable wears at a fair price
                        </p>
                      </div>
                      <div data-caption-animate="fadeInUp" data-caption-delay="550s" class="offset-top-27"><a href="appointment.html" class="btn btn-primary">make An Appointment</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div data-slide-bg="{% static 'images/slider3.jpg' %}" class="swiper-slide">
              <div class="swiper-slide-caption">
                <div class="shell">
                  <div class="range range-xs-center">
                    <div class="cell-sm-11 cell-md-10 cell-lg-12">
                      <div data-caption-animate="fadeInUp" data-caption-delay="0s" class="text-white text-uppercase jumbotron-custom border-modern">Enenu</div>
                      <div data-caption-animate="fadeInUp" data-caption-delay="450s" class="offset-sm-top-5">
                        <p class="text-big-19 text-white veil reveal-sm-inline-block">
                        PhotoGraphy                 
       </p>
                      </div>
                      <div data-caption-animate="fadeInUp" data-caption-delay="550s" class="offset-top-27"><a href="appointment.html" class="btn btn-primary">make An Appointment</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-scrollbar veil-lg"></div>
          <div class="swiper-nav-wrap veil reveal-lg-block">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
        </div>
      </section>
      <section>
        <div class="range range-condensed range-xs-center range-sm-left">
          <div class="cell-xs-10 cell-sm-4 height-fill">
            <article class="icon-box icon-box-top-line">
              <div class="box-top">
                <div class="box-icon"><span class="icon icon-primary icon-lg icon-1"></span></div>
                <div class="box-header">
                  <h5><a href="#">Internal Audit</a></h5>
                </div>
              </div>
              <div class="box-body">
                <p class="text-gray-base">Audit services are designed to help your business mitigate risk, create new efficiencies and better support strategic objectives.</p>
              </div>
              <a href="#" class="btn btn-icon-only btn-icon-single btn-icon-default"><span class="icon icon-sm material-icons-arrow_forward"></span></a> </article>
          </div>
          <div class="cell-xs-10 cell-sm-4 height-fill offset-top-40 offset-sm-top-0">
            <article class="icon-box icon-box-top-line">
              <div class="box-top">
                <div class="box-icon"><span class="icon icon-primary icon-lg icon-2"></span></div>
                <div class="box-header">
                  <h5><a href="#">Accounting</a></h5>
                </div>
              </div>
              <div class="box-body">
                <p class="text-gray-base">A range of services designed to provide timely preparation of company accounts, whether it be at the financial year end or on a monthly basis.</p>
              </div>
              <a href="#" class="btn btn-icon-only btn-icon-single btn-icon-default"><span class="icon icon-sm material-icons-arrow_forward"></span></a> </article>
          </div>
          <div class="cell-xs-10 cell-sm-4 height-fill offset-top-40 offset-sm-top-0">
            <article class="icon-box icon-box-top-line">
              <div class="box-top">
                <div class="box-icon"><span class="icon icon-primary icon-lg icon-3"></span></div>
                <div class="box-header">
                  <h5><a href="#">Audit</a></h5>
                </div>
              </div>
              <div class="box-body">
                <p class="text-gray-base">Audits are verified by sight, confirmation, discussion with management, assessment of internal controls and analytical procedures.</p>
              </div>
              <a href="#" class="btn btn-icon-only btn-icon-single btn-icon-default"><span class="icon icon-sm material-icons-arrow_forward"></span></a> </article>
          </div>
          <div class="cell-xs-10 cell-sm-4 height-fill offset-top-40 offset-sm-top-0">
            <article class="icon-box">
              <div class="box-top">
                <div class="box-icon"><span class="icon icon-primary icon-lg icon-4"></span></div>
                <div class="box-header">
                  <h5><a href="#">Legislative Support</a></h5>
                </div>
              </div>
              <div class="box-body">
                <p class="text-gray-base">To ensure the quality and effectiveness of every business activity, we support our every client by supporting them in all legislative issues.</p>
              </div>
              <a href="#" class="btn btn-icon-only btn-icon-single btn-icon-default"><span class="icon icon-sm material-icons-arrow_forward"></span></a> </article>
          </div>
          <div class="cell-xs-10 cell-sm-4 height-fill offset-top-40 offset-sm-top-0">
            <article class="icon-box">
              <div class="box-top">
                <div class="box-icon"><span class="icon icon-primary icon-lg icon-5"></span></div>
                <div class="box-header">
                  <h5><a href="#">Review</a></h5>
                </div>
              </div>
              <div class="box-body">
                <p class="text-gray-base">Reviews are less detailed and consist predominantly of an assessment of the company`s books and records.</p>
              </div>
              <a href="#" class="btn btn-icon-only btn-icon-single btn-icon-default"><span class="icon icon-sm material-icons-arrow_forward"></span></a> </article>
          </div>
          <div class="cell-xs-10 cell-sm-4 height-fill offset-top-40 offset-sm-top-0">
            <article class="icon-box">
              <div class="box-top">
                <div class="box-icon"><span class="icon icon-primary icon-lg icon-6"></span></div>
                <div class="box-header">
                  <h5><a href="#">Attest Services</a></h5>
                </div>
              </div>
              <div class="box-body">
                <p class="text-gray-base">Attestation services that we provide, include the process of independent review of the data validity audited by an accountant.</p>
              </div>
              <a href="#" class="btn btn-icon-only btn-icon-single btn-icon-default"><span class="icon icon-sm material-icons-arrow_forward"></span></a> </article>
          </div>
        </div>
      </section>
      <section class="section-66 section-sm-top-100 section-sm-bottom-75">
        <div class="shell">
          <h3 class="text-center">our <span class="text-thin">team</span></h3>
          <div class="offset-top-22 offset-md-top-40">
            <div data-items="1" data-sm-items="3" data-stage-padding="15" data-loop="false" data-margin="15" data-mouse-drag="false" data-nav="true" data-dots="true" class="owl-carousel owl-carousel-center owl-nav-modern owl-style-minimal owl-style-minimal-inverse text-center">
              <div class="owl-item text-center">
                <div class="thumbnail-variant-5">
                  <div class="thumbnail-variant-5-img-wrap"><img src="images/151x151.jpg" width="129" height="129" alt="" class="img-circle"></div>
                  <h4>John Doe</h4>
                  <div class="text-dusty-gray">Managing Director</div>
                  <div class="divider-fullwidth bg-porcelain"></div>
                  <div class="link-group"><span class="icon icon-xxs icon-primary material-icons-local_phone"></span><a href="callto:#" class="link-gray-base">1900-2345-234</a></div>
                  <div class="link-group"><span class="icon icon-xxs icon-primary fa-envelope-o"></span><a href="#b497" class="link-gray-base"><span class="__cf_email__" data-cfemail="e980878f86a98d8c848685808782c7869b8e">philip@gmail.com</span></a></div>
                </div>
              </div>
              <div class="owl-item text-center">
                <div class="thumbnail-variant-5">
                  <div class="thumbnail-variant-5-img-wrap"><img src="images/151x151.jpg" width="129" height="129" alt="" class="img-circle"></div>
                  <h4>Amanda Smith</h4>
                  <div class="text-dusty-gray">Accountant</div>
                  <div class="divider-fullwidth bg-porcelain"></div>
                  <div class="link-group"><span class="icon icon-xxs icon-primary material-icons-local_phone"></span><a href="callto:#" class="link-gray-base">1900-2345-234</a></div>
                  <div class="link-group"><span class="icon icon-xxs icon-primary fa-envelope-o"></span><a href="#6744" class="link-gray-base"><span class="__cf_email__" data-cfemail="375e5951587753525a585b5e595c19584550">philip@gmail.com</span></a></div>
                </div>
              </div>
              <div class="owl-item text-center">
                <div class="thumbnail-variant-5">
                  <div class="thumbnail-variant-5-img-wrap"><img src="images/151x151.jpg" width="129" height="129" alt="" class="img-circle"></div>
                  <h4>David Nicholson</h4>
                  <div class="text-dusty-gray">Audit Manager</div>
                  <div class="divider-fullwidth bg-porcelain"></div>
                  <div class="link-group"><span class="icon icon-xxs icon-primary material-icons-local_phone"></span><a href="callto:#" class="link-gray-base">1900-2345-234</a></div>
                  <div class="link-group"><span class="icon icon-xxs icon-primary fa-envelope-o"></span><a href="#7350" class="link-gray-base"><span class="__cf_email__" data-cfemail="b6dfd8d0d9f6d2d3dbd9dadfd8dd98d9c4d1">philip@gmail.com</span></a></div>
                </div>
              </div>
              <div class="owl-item text-center">
                <div class="thumbnail-variant-5">
                  <div class="thumbnail-variant-5-img-wrap"><img src="images/151x151.jpg" width="129" height="129" alt="" class="img-circle"></div>
                  <h4>John Doe</h4>
                  <div class="text-dusty-gray">Managing Director</div>
                  <div class="divider-fullwidth bg-porcelain"></div>
                  <div class="link-group"><span class="icon icon-xxs icon-primary material-icons-local_phone"></span><a href="callto:#" class="link-gray-base">1900-2345-234</a></div>
                  <div class="link-group"><span class="icon icon-xxs icon-primary fa-envelope-o"></span><a href="#9ebd" class="link-gray-base"><span class="__cf_email__" data-cfemail="f990979f96b99d9c949695909792d7968b9e">philip@gmail.com</span></a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="range range-xs-center offset-top-60">
            <div class="cell-sm-10 cell-md-10 cell-lg-12">
              <div class="panel panel-lg bg-primary bg-white-outline-btn text-center">
                <h3 class="text-white">Request <span class="text-thin">a callback</span></h3>
                <form class="rd-mailform group group-bottom offset-top-15 offset-sm-top-35">
                  <div class="group-item form-group">
                    <input id="index-request-name" type="text" name="name" data-constraints="@Required" class="form-control">
                    <label for="index-request-name" class="form-label">First Name</label>
                  </div>
                  <div class="group-item form-group">
                    <input id="index-request-phone" type="text" name="phone" data-constraints="@Numeric @Required" class="form-control">
                    <label for="index-request-phone" class="form-label">Phone Number</label>
                  </div>
                  <div class="group-item form-group">
                    <select data-minimum-results-for-search="Infinity" data-constraints="@Required" class="form-control select-filter">
                      <option value="1">I Would Like to Discuss</option>
                      <option value="2">I Wouldn't Like to Discuss</option>
                    </select>
                  </div>
                  <div class="group-item group-item-sm">
                    <button type="submit" class="btn btn-block btn-white-outline">submit</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="bg-cape-cod context-dark">
        <div class="shell">
          <div class="range range-xs-center range-md-left">
            <div class="cell-xs-10 cell-md-6 text-left section-60 section-sm-90">
              <div>
                <h3>successful <span class="text-thin">cases</span> </h3>
                <div class="offset-top-40 carousel-testimonials-home">
                  <div class="inset-lg-right-50">
                    <div id="child-carousel" data-for=".carousel-parent" data-arrows="false" data-loop="false" data-dots="false" data-swipe="true" data-items="1" data-xs-items="3" data-sm-items="3" data-md-items="3" data-lg-items="4" data-slide-to-scroll="1" data-center-mode="false" data-center-padding="0" class="slick-slider slick-slider slick-carousel-round-image slick-images">
                      <div class="item">
                        <div class="imp-wrap"><img src="images/99x99.jpg" alt="" width="99" height="99"/> </div>
                      </div>
                      <div class="item">
                        <div class="imp-wrap"><img src="images/99x99.jpg" alt="" width="99" height="99"/> </div>
                      </div>
                      <div class="item">
                        <div class="imp-wrap"><img src="images/99x99.jpg" alt="" width="99" height="99"/> </div>
                      </div>
                      <div class="item">
                        <div class="imp-wrap"><img src="images/99x99.jpg" alt="" width="99" height="99"/> </div>
                      </div>
                    </div>
                  </div>
                  <div data-arrows="false" data-loop="false" data-dots="true" data-swipe="true" data-child="#child-carousel" data-for="#child-carousel" data-items="1" data-xs-items="1" data-sm-items="1" data-md-items="1" data-lg-items="1" data-slide-to-scroll="1" data-center-mode="false" class="slick-slider carousel-parent slick-dots-variant-1 offset-top-35">
                    <div class="item inset-left-10 inset-right-10 inset-">
                      <div class="inset-lg-right-85">
                        <blockquote class="quote-left">
                          <div class="range range-xs-bottom">
                            <div class="cell-xs-6">
                              <div class="quote-name"> <cite>Amelia Lee</cite> </div>
                              <div class="text-dusty-gray">Sales, demolink.org</div>
                            </div>
                            <div class="cell-xs-6 text-center offset-top-22 offset-xs-top-0">
                              <div class="quote-desc range reveal-flex">
                                <div class="cell-xs-6">
                                  <div class="quote-desc-text text-fuel-yellow">-20%</div>
                                  <div class="text-medium text-dusty-gray text-uppercase">Expenses</div>
                                </div>
                                <div class="cell-xs-6 offset-top-0">
                                  <div class="quote-desc-text text-primary">+17%</div>
                                  <div class="text-medium text-dusty-gray text-uppercase">Profit</div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="divider-fullwidth"></div>
                          <div class="quote-body"> <q>I would not hesitate even one bit to work with them for my future tax and accounting needs.</q> </div>
                        </blockquote>
                        <div class="offset-top-22"><a href="#" class="btn btn-primary">read more</a></div>
                      </div>
                    </div>
                    <div class="item inset-left-10 inset-right-10 inset-">
                      <div class="inset-lg-right-85">
                        <blockquote class="quote-left">
                          <div class="range">
                            <div class="cell-xs-6">
                              <div class="quote-name"> <cite>Mark Wilson</cite> </div>
                              <div class="text-dusty-gray">CEO "WilsonCompany"</div>
                            </div>
                            <div class="cell-xs-6 text-center offset-top-22 offset-xs-top-0">
                              <div class="quote-desc range reveal-flex">
                                <div class="cell-xs-6">
                                  <div class="quote-desc-text text-fuel-yellow">-30%</div>
                                  <div class="text-medium text-dusty-gray text-uppercase">Expenses</div>
                                </div>
                                <div class="cell-xs-6 offset-top-0">
                                  <div class="quote-desc-text text-primary">+22%</div>
                                  <div class="text-medium text-dusty-gray text-uppercase">Profit</div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="divider-fullwidth"></div>
                          <div class="quote-body"> <q>I've never known another auditor more prepared or focused. You havethe ability to dissect a case much like a skilled surgeon, with absolute calm. Nothing seems to rattle you or distract from the goal on a case.</q> </div>
                        </blockquote>
                        <div class="offset-top-22"><a href="#" class="btn btn-primary">read more</a></div>
                      </div>
                    </div>
                    <div class="item inset-left-10 inset-right-10 inset-">
                      <div class="inset-lg-right-85">
                        <blockquote class="quote-left">
                          <div class="range">
                            <div class="cell-xs-6">
                              <div class="quote-name"> <cite>Jill Miller</cite> </div>
                              <div class="text-dusty-gray">Artist</div>
                            </div>
                            <div class="cell-xs-6 text-center offset-top-22 offset-xs-top-0">
                              <div class="quote-desc range reveal-flex">
                                <div class="cell-xs-6">
                                  <div class="quote-desc-text text-fuel-yellow">-29%</div>
                                  <div class="text-medium text-dusty-gray text-uppercase">Expenses</div>
                                </div>
                                <div class="cell-xs-6 offset-top-0">
                                  <div class="quote-desc-text text-primary">+19%</div>
                                  <div class="text-medium text-dusty-gray text-uppercase">Profit</div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="divider-fullwidth"></div>
                          <div class="quote-body"> <q>I am happy that I chose Easy Audit for my US tax returns and would recommend it to everyone.</q> </div>
                        </blockquote>
                        <div class="offset-top-22"><a href="#" class="btn btn-primary">read more</a></div>
                      </div>
                    </div>
                    <div class="item inset-left-10 inset-right-10 inset-">
                      <div class="inset-lg-right-85">
                        <blockquote class="quote-left">
                          <div class="range">
                            <div class="cell-xs-6">
                              <div class="quote-name"> <cite>Christopher Taylor</cite> </div>
                              <div class="text-dusty-gray">Financial Consultant</div>
                            </div>
                            <div class="cell-xs-6 text-center offset-top-22 offset-xs-top-0">
                              <div class="quote-desc range reveal-flex">
                                <div class="cell-xs-6">
                                  <div class="quote-desc-text text-fuel-yellow">-28%</div>
                                  <div class="text-medium text-dusty-gray text-uppercase">Expenses</div>
                                </div>
                                <div class="cell-xs-6 offset-top-0">
                                  <div class="quote-desc-text text-primary">+21%</div>
                                  <div class="text-medium text-dusty-gray text-uppercase">Profit</div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="divider-fullwidth"></div>
                          <div class="quote-body"> <q>Over the last 6 years I have found their services to be reliable and their advice to be practical and clear.</q> </div>
                        </blockquote>
                        <div class="offset-top-22"><a href="#" class="btn btn-primary">read more</a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="cell-md-6 section-image-aside section-image-aside-right">
              <div style="background-image: url(images/946x689.jpg)" class="section-image-aside-img veil reveal-md-block"></div>
            </div>
          </div>
        </div>
      </section>
      <div class="rd-google-map">
        <div class="overlay rd-google-map__model" onClick="style.pointerEvents='none'"></div>
        <iframe  class="rd-google-map__model" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387142.8404068987!2d-74.2581973675357!3d40.70583158554698!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2zVGjDoG5oIHBo4buRIE5ldyBZb3JrLCBUaeG7g3UgYmFuZyBOZXcgWW9yaw!5e0!3m2!1svi!2s!4v1480613299202" allowfullscreen></iframe>
      </div>
    </main>
    
  
{% endblock %}