{% extends 'base.html'%}
{% block content %}
{% include "./include/navbar.html" %}

<main class="page-content">
    <section style="background-image: url(/static/images/advertising-alphabet-business-communication-270637.jpg);" class="section-30 section-sm-40 section-md-66 section-lg-bottom-90 bg-gray-dark page-title-wrap">
      <div class="shell">
        <div class="page-title">
          <h2>Services</h2>
        </div>
      </div>
    </section>
    <section class="section-60 section-sm-90">
      <div class="shell">
        <h3 class="text-center">Services <span class="text-thin">Overview</span></h3>
        <p class="text-center">Easy Audit offers a variety of services covering almost every need of modern <br class="veil reveal-lg-inline-block">
          businesses. Learn more about our services below.</p>
        <div class="range range-xs-center offset-top-45 text-center text-md-left">
          <div class="cell-sm-10 cell-md-4"><img src="images/370x220.jpg" alt="" width="370" height="220"/>
            <div class="offset-top-22">
              <h6>Photography</h6>
            </div>
            <div class="offset-top-10">
              <p class="text-gray-base-05">Audit & accounting services assure your company’s</p>
              <compliance>with requirements of applicable laws, financial reporting standards, regulations, rules, contracts, or grants, and can pave a road to your company’s success.</compliance>
            </div>
          </div>
          <div class="cell-sm-10 cell-md-4 offset-top-60 offset-md-top-0"><img src="images/370x220.jpg" alt="" width="370" height="220"/>
            <div class="offset-top-22">
              <h6>Consignment</h6>
            </div>
            <div class="offset-top-10">
              <p class="text-gray-base-05">Proactive planning is the key to minimizing your tax liability. We work with businesses and individuals to pay the least amount of tax required by law. Your unique circumstances will determine the strategies...</p>
            </div>
          </div>
          <div class="cell-sm-10 cell-md-4 offset-top-60 offset-md-top-0"><img src="images/370x220.jpg" alt="" width="370" height="220"/>
            <div class="offset-top-22">
              <h6>Women & Kids Wear</h6>
            </div>
            <div class="offset-top-10">
              <p class="text-gray-base-05">Consulting & advisory services provide strategic thinking and advice on the most valuable ways to enhance your business effectiveness that Easy Audit can offer to its clients (including business advisory and consulting).</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-60 section-sm-90 bg-whisper-lighten">
      <div class="shell">
        <div class="range">
          <div class="cell-xs-12">
            <h3>Our Clients</h3>
          </div>
        </div>
        <div class="range offset-top-40">
          <div class="cell-sm-7 cell-md-5 cell-lg-4">
            <div class="owl-carousel-dark">
              <div data-items="1" data-stage-padding="0" data-loop="true" data-margin="30" data-mouse-drag="false" data-nav="true" class="owl-carousel owl-nav-bottom-left">
                <div class="item">
                  <p>Among our clients, there are many world-renowned industry leaders. Their companies are now ranked as the most successful companies – thanks to us.</p>
                </div>
                <div class="item">
                  <p>Got really enjoyable experience with your product. Easy set up is a huge plus. I even didn’t turn to support service.</p>
                </div>
                <div class="item">
                  <p>I’m extremely satisfied with their work. My new website looks great and runs smoothly. The support is excellent too.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="cell-md-7 cell-lg-8 offset-top-40 offset-md-top-0">
            <div class="range shift-md-top-1">
              <div class="cell-xs-6 cell-sm-3">
                <div class="link-image-wrap"><a href="#" class="link-image"><img src="images/150x100.png" alt="" width="132" height="83"/></a></div>
              </div>
              <div class="cell-xs-6 cell-sm-3 offset-top-30 offset-xs-top-0">
                <div class="link-image-wrap"><a href="#" class="link-image"><img src="images/150x100.png" alt="" width="169" height="68"/></a></div>
              </div>
              <div class="cell-xs-6 cell-sm-3 offset-top-30 offset-sm-top-0">
                <div class="link-image-wrap"><a href="#" class="link-image"><img src="images/150x100.png" alt="" width="141" height="88"/></a></div>
              </div>
              <div class="cell-xs-6 cell-sm-3 offset-top-30 offset-sm-top-0">
                <div class="link-image-wrap"><a href="#" class="link-image"><img src="images/150x100.png" alt="" width="138" height="55"/></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- <section data-on="false" data-md-on="true" style="background-image: url(images/1920x900.jpg)" class="rd-parallax bg-gray-base bg-image">
      <div data-speed="0.33" data-type="media" data-url="images/1920x900.jpg" class="rd-parallax-layer"></div>
      <div data-speed="0" data-type="html" class="rd-parallax-layer">
        <div class="section-60 section-sm-90 bg-overlay-cello">
          <div class="shell">
            <div class="range">
              <div class="cell-xs-12 text-center">
                <h3>What <span class="text-thin">We Do</span></h3>
                <p class="text-white">Easy Audit provides unparalleled guidance on audit, review, and other financial assurance <br class="veil reveal-lg-inline-block">
                  and attestations matter in a cost effective way without draining your internal resources.</p>
              </div>
            </div>
            <div class="range offset-top-40">
              <div class="cell-xs-6 cell-md-4">
                <article class="icon-box-vertical icon-box-vertical-sm">
                  <div class="unit unit-vertical unit-spacing-sm">
                    <div class="unit-left"><span class="icon icon-primary icon-lg thin-icon-document-edit"></span></div>
                    <div class="unit-body">
                      <h4>Advisory</h4>
                      <p class="text-white-05">From strategy through execution, Easy Audit’s Advisory practice helps clients build their next competitive advantage.</p>
                    </div>
                  </div>
                </article>
              </div>
              <div class="cell-xs-6 cell-md-4 offset-top-50 offset-xs-top-0">
                <article class="icon-box-vertical icon-box-vertical-sm">
                  <div class="unit unit-vertical unit-spacing-sm">
                    <div class="unit-left"><span class="icon icon-primary icon-lg thin-icon-user"></span></div>
                    <div class="unit-body">
                      <h4>Assurance</h4>
                      <p class="text-white-05">Working closely with public and private companies, we help solve complex business issues that our clients face.</p>
                    </div>
                  </div>
                </article>
              </div>
              <div class="cell-xs-6 cell-md-4 offset-top-50 offset-md-top-0">
                <article class="icon-box-vertical icon-box-vertical-sm">
                  <div class="unit unit-vertical unit-spacing-sm">
                    <div class="unit-left"><span class="icon icon-primary icon-lg thin-icon-planet"></span></div>
                    <div class="unit-body">
                      <h4>Tax Services</h4>
                      <p class="text-white-05">Our Tax professionals are problem solvers, providing value to their clients through analyzing and interpreting tax policy, advising on intricate tax matters.</p>
                    </div>
                  </div>
                </article>
              </div>
              <div class="cell-xs-6 cell-md-4 offset-top-50 offset-lg-top-60">
                <article class="icon-box-vertical icon-box-vertical-sm">
                  <div class="unit unit-vertical unit-spacing-sm">
                    <div class="unit-left"><span class="icon icon-primary icon-lg thin-icon-money"></span></div>
                    <div class="unit-body">
                      <h4>Public Sector Practice</h4>
                      <p class="text-white-05">We often help federal, state &amp; local and multilateral development agencies address complex business issues; manage risk; and improve financial measures.</p>
                    </div>
                  </div>
                </article>
              </div>
              <div class="cell-xs-6 cell-md-4 offset-top-50 offset-lg-top-60">
                <article class="icon-box-vertical icon-box-vertical-sm">
                  <div class="unit unit-vertical unit-spacing-sm">
                    <div class="unit-left"><span class="icon icon-primary icon-lg thin-icon-thumb-up"></span></div>
                    <div class="unit-body">
                      <h4>Business Management</h4>
                      <p class="text-white-05">Our business management services provide companies and the individuals who run them with tools and strategies to improve operations and plan for the future.</p>
                    </div>
                  </div>
                </article>
              </div>
              <div class="cell-xs-6 cell-md-4 offset-top-50 offset-lg-top-60">
                <article class="icon-box-vertical icon-box-vertical-sm">
                  <div class="unit unit-vertical unit-spacing-sm">
                    <div class="unit-left"><span class="icon icon-primary icon-lg thin-icon-clock"></span></div>
                    <div class="unit-body">
                      <h4>Financial Planning</h4>
                      <p class="text-white-05">We help you build and maintain a desirable position on the market through a combination of financial planning services.</p>
                    </div>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->
    <section style="background-image: url(images/1920x900.jpg);" class="section-60 section-sm-90 section-sm-bottom-100 bg-white bg-image bg-image-1">
      <div class="shell">
        <div class="range range-xs-center range-md-left offset-top-30">
          <div class="cell-sm-8 cell-md-6 cell-lg-5">
            <h3>Why <span class="text-thin">Choose Us</span></h3>
            <div class="offset-top-40">
              <p>We make shopping easy as an online store and thrill you with our fast, yet affordable delivery services.
                   We want to merge the gap between luxury and excessive spending by selling our wears at a fair price.
                   We look forward to becoming your number one fashion mirror. We invite you to shop with us today</p>
              <a href="#" class="btn btn-primary">Read more</a> </div>
          </div>
        </div>
      </div>
    </section>
    <!-- <section class="section-60 section-sm-100 context-dark bg-primary">
      <div class="shell text-center text-md-left">
        <div class="range range-xs-center range-md-middle range-md-left">
          <div class="cell-md-8 text-center">
            <h3>affordable business advice</h3>
          </div>
          <div class="cell-md-4 cell-lg-3 offset-top-30 offset-md-top-0"><a href="#" class="btn btn-xl btn-white-outline">Learn more</a></div>
        </div>
      </div>
    </section> -->
  </main>
{% endblock %}