{% extends 'base.html' %}
{% load static %}
{% block title %} Blog {% endblock %}
{% block content %}
{% include "../../main/include/navbar.html" %}

<main class="page-content">
    <section style="background-image: url(/static/images/blog-icon-information-internet-262508.jpg);" class="section-30 section-sm-40 section-md-66 section-lg-bottom-90 bg-gray-dark page-title-wrap">
      <div class="shell">
        <div class="page-title">
          <h2>Blog</h2>
        </div>
      </div>
    </section>
    <section class="section-50 section-sm-75 section-lg-100">
      <div class="shell">
        <div class="range range-sm-center">
          <div class="cell-lg-10">
            <dl class="blog-timeline">
              <dt> {% now "Y" %}</dt>
              <dd>

                {% for post in posts %}
                <article class="post-classic-minimal">
                  <div class="post-left">
                    <time datetime="{{post.publish}}">{{post.publish|date:"M d"}}</time>
                  </div>
                  <div class="post-main">
                    <div class="post-media post-gallery">
                      <figure><a href="{{ post.get_absolute_url }}">
                        <img src="{{ post.image.url }}" alt="" width="771" height="515"/>
                      </a>
                           </figure>
                    </div>
                    <div class="post-header">
                      <h4><a href="{{ post.get_absolute_url }}">{{  post.title }}</a></h4>
                      <p>
                        {{ post.body|truncatewords:15 }}
                    </p>
                    </div>
                    <div class="post-footer">
                      <ul class="post-meta">
                        <li>
                          <dl>
                            <dt>by</dt>
                            <dd>
                              {% if post.author.first_name %}  
                              {{post.author.first_name}} {{post.author.last_name}}
                          {% else %}
                              {{post.author}}
                          {% endif %}
                            </dd>
                          </dl>
                        </li>
                      </ul>
                    </div>
                  </div>
                </article>
                {% endfor %}

                

                <div class="offset-top-40 offset-sm-top-60 offset-lg-top-90 inset-lg-left-100 text-center">
                  <ul class="pagination-custom">
                    <li>
                      <!-- <a href="#">Previous</a> -->

                      {% if page.has_previous %}
                      <a href="#">Previous</a>
                      <!-- <a href="?page={{ page.previous_page_number }}">Previous</a> -->
                      {% else%}
                      <!-- NOne -->
                      {% endif %}                    
                    </li>
                    <!-- <span class="current">
                      Page {{ page.number }} of {{ page.paginator.num_pages }}.
                      </span> -->
                    <li>
                      {% if page.has_next %}
                      <a href="?page={{ page.next_page_number }}">Next</a>
                      {% else%}
                      <!-- None -->
                      {% endif %}
                    
                    </li>
                  </ul>
                </div>
              </dd>
            </dl>
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock %}

<!-- <div class="pagination">
  <span class="step-links">
  {% if page.has_previous %}
  <a href="?page={{ page.previous_page_number }}">Previous</a>
  {% endif %}
  <span class="current">
  Page {{ page.number }} of {{ page.paginator.num_pages }}.
  </span>
  {% if page.has_next %}
  <a href="?page={{ page.next_page_number }}">Next</a>
  {% endif %}
  </span>
  </div> -->
