{% extends 'base.html' %}
{% block content %}
{% include "../../main/include/navbar.html" %}

<main class="page-content">
    <section style="background-image: url(/static/images/1920x900.jpg);" class="section-30 section-sm-40 section-md-66 section-lg-bottom-90 bg-gray-dark page-title-wrap">
      <div class="shell">
        <div class="page-title">
          <h2>Blog</h2>
        </div>
      </div>
    </section>
    <section class="section-50 section-sm-75 section-lg-100">
      <div class="shell">
        <div class="range range-sm-center">
          <div class="cell-lg-10">
            <dl class="blog-timeline">
              <dt>2016</dt>
              <dd>
                <article class="post-classic-minimal">
                  <div class="post-left">
                    <time datetime="2016-06-17">Jun 17</time>
                  </div>
                  <div class="post-main">
                    <div class="post-media post-gallery">
                      <figure><img src="images/771x515.jpg" alt="" width="771" height="515"/> </figure>
                    </div>
                    <div class="post-header">
                      <h4><a href="blog-post.html">Choosing the Strategy</a></h4>
                      <p>Perhaps you are a new entrepreneur about to launch a business or innovation you have been dreaming about for years. Or maybe you have an established business and things are going well, or maybe even too well. In both instances you are going to need capital – the “oxygen” that every business needs to grow and prosper. So now you are writing your first business plan or touching up the old one in anticipation of raising capital. Capital can only come into a business in one of two ways...</p>
                    </div>
                    <div class="post-footer">
                      <ul class="post-meta">
                        <li>
                          <dl>
                            <dt>in</dt>
                            <dd>
                              <ul class="list-tags-inline">
                                <li><a href="#">Strategy</a></li>
                                <li><a href="#">Capital</a></li>
                              </ul>
                            </dd>
                          </dl>
                        </li>
                        <li>
                          <dl>
                            <dt>by</dt>
                            <dd>Joan Williams</dd>
                          </dl>
                        </li>
                      </ul>
                    </div>
                  </div>
                </article>
                <article class="post-classic-minimal">
                  <div class="post-left offset-top-5">
                    <time datetime="2016-05-23">May 23</time>
                  </div>
                  <div class="post-main">
                    <div class="post-header">
                      <h4><a href="blog-post.html">8 Tips for Building a Bankable Business</a></h4>
                      <p>When it comes to the question of applying for a bank loan to fund your startup, most experts say, don’t bother. Banks are rarely interested in funding early stage companies these days, especially since the 2008 financial crash. However, it is not impossible to secure bank funding for your startup. Give yourself better odds with thoughtful planning, diligent preparation, and the eight tips...</p>
                    </div>
                    <div class="post-footer">
                      <ul class="post-meta">
                        <li>
                          <dl>
                            <dt>in</dt>
                            <dd>
                              <ul class="list-tags-inline">
                                <li><a href="#">Business</a></li>
                                <li><a href="#">Plan</a></li>
                              </ul>
                            </dd>
                          </dl>
                        </li>
                        <li>
                          <dl>
                            <dt>by</dt>
                            <dd>Tom Park</dd>
                          </dl>
                        </li>
                      </ul>
                    </div>
                  </div>
                </article>
                <article class="post-classic-minimal">
                  <div class="post-left">
                    <time datetime="2016-04-14">Apr 14</time>
                  </div>
                  <div class="post-main">
                    <div class="post-media post-gallery">
                      <figure><img src="images/772x435.jpg" alt="" width="772" height="435"/> </figure>
                    </div>
                    <div class="post-header">
                      <h4><a href="blog-post.html">Your Business Model is the Foundation of Your Business Plan</a></h4>
                      <p>The report of the death of the business plan has been an exaggeration, to paraphrase Mark Twain. Yet, we often read opinions in popular business press that the business plan is no longer relevant. All you need is a business model, we are told by business gurus. While there is no consensus on the definition of a business model, most people use it as shorthand for the revenue model of a business; i.e. how does it make money. A business plan...</p>
                    </div>
                    <div class="post-footer">
                      <ul class="post-meta">
                        <li>
                          <dl>
                            <dt>in</dt>
                            <dd>
                              <ul class="list-tags-inline">
                                <li><a href="#">Business</a></li>
                                <li><a href="#">Plan</a></li>
                              </ul>
                            </dd>
                          </dl>
                        </li>
                        <li>
                          <dl>
                            <dt>by</dt>
                            <dd>John Miller</dd>
                          </dl>
                        </li>
                      </ul>
                    </div>
                  </div>
                </article>
                <article class="post-classic-minimal">
                  <div class="post-left">
                    <time datetime="2016-03-02">Mar 2</time>
                  </div>
                  <div class="post-main">
                    <div class="post-media post-gallery">
                      <div data-items="1" data-stage-padding="0" data-loop="true" data-margin="15" data-mouse-drag="true" data-dots="true" data-animation-in="fadeIn" data-animation-out="fadeOut" class="owl-carousel owl-style-minimal">
                        <div class="item">
                          <figure><img src="images/770x433.jpg" alt="" width="770" height="433"/> </figure>
                        </div>
                        <div class="item">
                          <figure><img src="images/772x435.jpg" alt="" width="772" height="435"/> </figure>
                        </div>
                        <div class="item">
                          <figure><img src="images/770x433.jpg" alt="" width="770" height="433"/> </figure>
                        </div>
                      </div>
                    </div>
                    <div class="post-header">
                      <h4><a href="blog-post.html">Narrow Your Focus to Prevent Overanalysis</a></h4>
                      <p>Entrepreneurs come up with new business ideas all the time. Often, they just plunge ahead to develop the product or service without really taking the time to 1) determine if market conditions are favorable, and, if they are favorable, 2) assess the ability of the business concept to take advantage of the opportunity. We have found that by following a focused, two-step process, you can reduce risks...</p>
                    </div>
                    <div class="post-footer">
                      <ul class="post-meta">
                        <li>
                          <dl>
                            <dt>in</dt>
                            <dd>
                              <ul class="list-tags-inline">
                                <li><a href="#">Idea</a></li>
                                <li><a href="#">Business</a></li>
                              </ul>
                            </dd>
                          </dl>
                        </li>
                        <li>
                          <dl>
                            <dt>by</dt>
                            <dd>Julien Miro</dd>
                          </dl>
                        </li>
                      </ul>
                    </div>
                  </div>
                </article>
                <article class="post-classic-minimal">
                  <div class="post-left">
                    <time datetime="2016-02-16">Feb 16</time>
                  </div>
                  <div class="post-main">
                    <div class="post-media post-gallery">
                      <div class="soundcloud-player-classic">
                        <iframe height="166" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/149065581&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
                      </div>
                    </div>
                    <div class="post-header">
                      <h4><a href="blog-post.html">New HMRC Offshore Disclosure Facility</a></h4>
                      <p>After much speculation, ‘Son of LDF’ has now been launched by HMRC in order to give individuals and entities the opportunity to correct their UK tax position if they have previously made errors or omissions in declaring overseas income and gains. The new Worldwide Disclosure Facility (WDF), launched on 5 September 2016, replaces the Liechtenstein Disclosure Facility and 3 British Crown Dependencies Facility that came to an end on...</p>
                    </div>
                    <div class="post-footer">
                      <ul class="post-meta">
                        <li>
                          <dl>
                            <dt>in</dt>
                            <dd>
                              <ul class="list-tags-inline">
                                <li><a href="#">Facility</a></li>
                                <li><a href="#">Opportunity</a></li>
                              </ul>
                            </dd>
                          </dl>
                        </li>
                        <li>
                          <dl>
                            <dt>by</dt>
                            <dd>Amelia Anderson</dd>
                          </dl>
                        </li>
                      </ul>
                    </div>
                  </div>
                </article>
                <div class="offset-top-40 offset-sm-top-60 offset-lg-top-90 inset-lg-left-100 text-center">
                  <ul class="pagination-custom">
                    <li><a href="#">Prev</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li class="active"><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">Next</a></li>
                  </ul>
                </div>
              </dd>
            </dl>
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock %}