<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Enenu</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/css.css?family=Roboto:100,300,400,500,700%7CPlayfair+Display:400,700,700i,900,900i' %}">
    <link rel="stylesheet" href="{%static 'css/style.css' %}">

</head>
<body>
    {% block content %}
    {% endblock %}
    <script src="{% static 'js/core.min.js' %}"></script> 
    <script src="{% static 'js/script.js' %}"></script>

</body>
</html>